.c-text_area {
  &_inner {
    &--big {
      @include fz("18", "16");
      line-height: 2.22em;
      margin-bottom: 2.22em;
    }
  }
}

.c-textArea {
  width: calc(33.3% - 0.28em * 2 / 3);
  max-width: 384px;

  @include pc {
    &:not(:nth-child(3n + 1)) {
      margin-left: 0.28em;
    }
  }

  &_img {
    margin-bottom: 1.875em;
  }

  &_title {
    @include fz(20, 18);
    border-bottom: 2px solid $black;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.7em;
  }

  &_text {
    @include fz(16, 14);
    margin-bottom: 2em;

    &--white {
      @extend .c-textArea_text;
      background-color: $white;
      margin: 0;
      padding: 1.375em 1.25em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }

  &:nth-child(2) {
    margin-top: 3.75em;
  }

  &:nth-child(3) {
    margin-top: calc(3.75em * 2);
  }

}

.c-text_area {
  max-width: 480px;
  width: 100%;

  h3 {
    @include fz(40, 26);
    margin-bottom: 0.5em;
  }

  p {
    @include fz(16, 14);
    margin-bottom: 2em;
  }

  &_side{
    @extend .c-text_area;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--center {
    @extend .c-text_area;
    max-width: initial;

    p {
      line-height: 2.875em;
    }

  }
}