<!DOCTYPE html>
<html lang="jp">
<%- include('../_include/_head') %>

    <body>
        <div class="wapper p-top">
            <%- include('../_include/_header') %>

                <main class="l_m_main">

                    <section class="l_m_about">
                        <div class="l_m_about_area">
                            <div class="l_m_about_contents">
                                <div class="l_o_about_contents_title">
                                    <h2>about</h2>
                                </div>
                                <p>心が動けば、その瞬間から未来が変わる。<br>
                                    私たちはただの映像なんか作らない。<br>
                                    作るのは心を動かす映像、「未来」を変える映像だ。</p>
                                <div class="o_p_more_btn"><a href="#">more...</a></div>
                            </div>
                            <div class="about_area_image"></div>
                        </div>
                    </section>

                    <section class="l_m_service">
                        <div class="l_m_service_area">
                            <div class="o_p_service_contents">
                                <div class="service_image video-img"><img src="" alt=""></div>
                                <div class="service_inner">
                                    <div class="service_title">
                                        <h3></h3>
                                    </div>
                                    <p></p>
                                    <div class="o_c_more_btn"><a href="#">more</a></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>

                <%- include('../_include/_footer') %>
        </div>
    </body>

</html>