<footer class="footer">
  <div class="l-container">
    <div class="footer_logo">
      <img src="/assets//img/logo_03.svg" alt="footerのロゴ" width="138" height="104.48">
    </div>
    <div class="c_sns">
      <div class="c_sns_facebook_btn c_sns_btn">
        <a href="#"><img src="/assets/img/icon_facebook.svg" alt="facebook" width="60" height="60"></a>
      </div>
      <div class="c_sns_twitter_btn c_sns_btn">
        <a href="#"><img src="/assets/img/icon_twitter.svg" alt="twitter" width="60" height="60"></a>
      </div>
      <div class="c_sns_instagram_btn c_sns_btn">
        <a href="#"><img src="/assets/img/icon_instagram.svg" alt="Instagram" width="60" height="60"></a>
      </div>
    </div>
    <nav class="footer_nav">
      <ul>
        <li><a href="#">top</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">service</a></li>
        <li><a href="#">works</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </nav>
    <p class="copyright">&copy;2021 asuma </p>
  </div>
</footer>

<script src="/assets/js/script.js" defer></script>