<footer class="l_footer">
  <div class="l-container">

    <div class="l_footer_logo">
      <img src="/assets//img/logo_03.svg" alt="footerのロゴ" width="138" height="104.48">
    </div>

    <ul class="l_footer_sns">
      <li class="l_footer_sns_facebook_btn l_footer_sns_btn">
        <a href="#"><img src="/assets/img/icon_facebook.svg" alt="facebook" width="32" height="32"></a>
      </li>
      <li class="l_footer_sns_twitter_btn l_footer_sns_btn">
        <a href="#"><img src="/assets/img/icon_twitter.svg" alt="twitter" width="32" height="32"></a>
      </li>
      <li class="l_footer_sns_instagram_btn l_footer_sns_btn">
        <a href="#"><img src="/assets/img/icon_instagram.svg" alt="Instagram" width="32" height="32"></a>
      </li>
    </ul>

    <nav class="l_footer_nav">
      <ul class="l_footer_nav_list">
        <li><a href="#">top</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">service</a></li>
        <li><a href="#">works</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </nav>
    <p class="copyright">&copy;2021 asuma </p>
  </div>
  </div>
</footer>

<script src="/assets/js/script.js" defer></script>