<footer class="footer">
  <div class="footer_logo"><img src="/assets//img/logo_03.svg" alt="footerのロゴ"></div>
  <div class="o_p_sns">
    <div class="o_c_facebook_btn sns_btn">
      <a href="#"><img src="/assets/img/icon_facebook.svg" alt="facebook"></a>
    </div>
    <div class="o_c_twitter_btn sns_btn">
      <a href="#"><img src="/assets/img/icon_twitter.svg" alt="twitter"></a>
    </div>
    <div class="o_c_instagram_btn sns_btn">
      <a href="#"><img src="/assets/img/icon_instagram.svg" alt="Instagram"></a>
    </div>
  </div>
  <nav class="footer_nav">
    <ul>
      <li><a href="#">top</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">service</a></li>
      <li><a href="#">works</a></li>
      <li><a href="#">news</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </nav>
  <p class="copyright">&copy;2021 asuma </p>
</footer>