<header class="l_header">
  <div class="l_header_contents">
    <div class="l_header_logo"><img src="/assets/img/logo_02.svg" alt="トッページのロゴ"></div>

    <p>top</p>

    <div class="globalNav">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="globalNav-menu">
        <ul>
          <li><a href="#">Menu1</a></li>
          <li><a href="#">Menu2</a></li>
          <li><a href="#">Menu3</a></li>
          <li><a href="#">Menu4</a></li>
          <li><a href="#">Menu5</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="o_p_sns">
    <div class="o_c_facebook_btn sns_btn">
      <a href="#"><img src="/assets/img/icon_facebook.svg" alt="facebook"></a>
    </div>
    <div class="o_c_twitter_btn sns_btn">
      <a href="#"><img src="/assets/img/icon_twitter.svg" alt="twitter"></a>
    </div>
    <div class="o_c_instagram_btn sns_btn">
      <a href="#"><img src="/assets/img/icon_instagram.svg" alt="Instagram"></a>
    </div>


  </div>
</header>