<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>MOVE｜WEBCHIKA</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MOVE｜WEBCHIKA" />
    <!--20文字以内が好ましい-->
    <meta property="og:description" content="" />
    <!--最適文字数 80~90-->
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="WEBCHIKA" />
    <!--サイト名やブランド情報-->
    <meta property="og:image" content="" />
    <!--推奨size w1200×h630-->
    <meta property="og:locale" content="ja_JP" />
    <!-- font -->
    <link rel="stylesheet" href="https://use.typekit.net/eek0pcc.css">
    <script>
        (function (d) {
            var config = {
                kitId: 'ycq5neu',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>

    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="./assets/js/script.js" defer></script>
</head>