<header class="l_header">
  <div class="l_header_logo"></div>
  <div class="l_header_title"></div>

  <div class="btn-trigger" id="btn05">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="l_header_nav">

  </nav>
</header>