.l-container {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto;

  &--big {
    @extend .l-container;
    max-width: 1274px;
  }

  &--white{
    @extend .l-container;
    background-color: $white;
    text-align: center;
    padding: 3.125em 0;
  }
}