.l_footer {
  //padding: 5.625em;
  background-color: $yellow;
  padding-bottom: 2.5em;

  &_logo {
    margin: 0 auto;
    max-width: 138px;
  }

  &_sns {
    display: flex;
    justify-content: center;
    margin: 2.5em 0;

    &_btn {
      width: 60px;
      height: 60px;

      &:not(:nth-child(3n + 1)) {
        margin-left: 1.75em;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background: $white;

        img {
          width: 32px;
        }
      }
    }
  }

  &_nav {
    &_list {
      display: flex;
      justify-content: center;
      margin: 2.5em 0;

      li {
        &:not(:last-child) {
          margin-right: 2.375em;
        }
        a{
          text-transform: uppercase;
        }
      }
    }
  }

  .copyright{
    text-align: right;
    color: $white;
  }
}