.btn-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  cursor: pointer;
  @include nav;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    @include nav;
  }

  span:nth-of-type(1) {
    top: 0;
  }

  span:nth-of-type(2) {
    top: 20px;
  }

  span:nth-of-type(3) {
    bottom: 0;
  }
}

#btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

#btn.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  -webkit-animation: active-btn05-bar02 .8s forwards;
  animation: active-btn05-bar02 .8s forwards;
}

@-webkit-keyframes active-btn-bar02 {
  100% {
    height: 0;
  }
}

@keyframes active-btn-bar02 {
  100% {
    height: 0;
  }
}

#btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}