Í/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;


  span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;


    &:nth-child(1) {
      top: 10px;
    }

    &:nth-child(2) {
      top: 20px;
    }

    &:nth-child(3) {
      top: 30px;
    }
  }


  /* ナビ開いてる時のボタン */
  .active span:nth-child(1) {
    top: 16px;
    left: 6px;
    background: $black;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .active span:nth-child(2),
  .active span:nth-child(3) {
    top: 16px;
    background: $black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

nav.globalNav-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;


  ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;


    li {
      list-style-type: none;
      padding: 0;
      width: 100%;
      transition: .4s all;

      &:last-child {
        padding-bottom: 0;
      }

      &:hover {
        background: #ddd;
      }

      a {
        display: block;
        color: #fff;
        padding: 1em 0;
        text-decoration: none;
      }
    }
  }
}

/* このクラスを、jQueryで付与・削除する */
nav.globalNav-menu.active {
  opacity: 100;

}