.p-top_about {
  &_contents {
    display: flex;
    justify-content: space-between;

    &_textArea {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 3.33em;
    }

    &_img {
      position: relative;
      // max-width: 650px;
      //width: calc(100% - 10% - 432px);

      // @include sp {
      //   width: calc(100% - 10%);
      //   margin: 50px auto 0;
      // }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 10%;
        margin-right: 10%;
        width: 100%;
        height: 100%;
        background: $yellow;

        @include sp {
          margin-top: 7%;
          margin-right: 7%;
        }
      }

      img {
        position: relative;
        z-index: 1;
      }
    }
  }
}

.p-top_service {
  &_contents {
    display: flex;
    justify-content: space-between;
  }
}

.p-top_works {
  background-color: $black;

  &_contents {
    display: flex;
    justify-content: space-between;
    color: $white;

    &-main {
      max-width: 680px;
      width: 100%;

      &_list {
        display: flex;

        li {
          &:not(:nth-child(2n)) {
            margin-right: 1em;
          }

          a {
            display: inline-block;
            color: $white;
            margin: 1.16em 0;
            @include fz(14);
            border-bottom: 1px solid $white;
          }

        }
      }
    }

    &-side {
      &-inner li {
        display: flex;
        &:not(:nth-child(4n + 1)) {
          margin-top: 1.875em;
        }

        img {
          max-width: 180px;
          margin-right: 1.625em;
        }

        p {
          margin-bottom: 1.625em;
        }
      }
    }
  }
}

.p-top_news {
  &_list {
    display: flex;
    justify-content: center;

    &_item {
      &:first-child {
        margin-right: 1.25em;
      }

      a {
        display: flex;
        max-width: 627px;
        padding: 1.25em 1.5em;
        background-color: $yellow;

        img {
          max-width: 280px;
        }
      }

      &_title {
        @include fz(16, 14);
        margin-bottom: 0.75em;
      }

      &_text {
        @include fz(16, 14);
        margin-bottom: 1.6875em;
      }
    }
  }
}

.p_top-contact{
  padding: 5.625em;
  background-color: $yellow;
}